.NET==7.0
Microsoft.EntityFrameworkCore==7.0.20
Microsoft.EntityFrameworkCore.Sqlite==7.0.20
Microsoft.EntityFrameworkCore.Tools==7.0.20
Microsoft.EntityFrameworkCore.Design==7.0.20
Swashbuckle.AspNetCore==6.5.0